<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <%- include('head'); %>
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="#"><h2 style="color: #e44239;">Minh Trinh</h2></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <div class="menu-main d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav> 
                                            <ul id="navigation">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#about">About</a></li>  
                                                <li><a href="#contact">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>   
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".4s">Working student</span>
                                    <h1 data-animation="fadeInUp" data-delay=".6s">I’m Le Hoang Minh Trinh</h1>
                                    <P data-animation="fadeInUp" data-delay=".8s" class="text-justify">As a student, I am always eager to learn and experience more in the IT industry. </P>                                    
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="industries.html" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">More about me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".4s">Working student</span>
                                    <h1 data-animation="fadeInUp" data-delay=".6s">I’m Le Hoang Minh Trinh</h1>
                                    <P data-animation="fadeInUp" data-delay=".8s" >As a student, I am always eager to learn and experience more in the IT industry. </P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="industries.html" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">More about me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        
        
        
        <!-- About Area start -->
        <section class="about-area section-paddingt30" id="about">
            <div class="container">          
                <div class="about-caption mb-50">
                    <div class="section-tittle mb-70"><h2>About me</h2></div>                    
                    <p class="pera1">I am eager to experience in the real world. In addition to that, I am a fast learner, always motivated for any challenges. WRITE MOREEEEEE!</p>
                </div>
                <div class="about-caption">
                    <div class="section-top-border">
                       <h3 class="mb-30">Skills</h3>
                       <div class="progress-table-wrap">
                            <div class="progress-table">
                                <div class="table-head">
                                    <div class="serial">#</div>
                                    <div class="country">Skills</div>
                                    <div class="visit">Tools</div>
                                    <div class="percentage">Percentages</div>
                                </div>
                                <div class="table-row">
                                    <div class="serial">01</div>
                                    <div class="country">Web backend development</div>
                                    <div class="visit">NodeJs, PHP Yii</div>
                                    <div class="percentage">
                                        <div class="progress">
                                            <div class="progress-bar color-1" role="progressbar" style="width: 70%"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="serial">02</div>
                                    <div class="country">Web frontend development</div>
                                    <div class="visit">AnimateCSS, WowJs</div>
                                    <div class="percentage">
                                        <div class="progress">
                                            <div class="progress-bar color-2" role="progressbar" style="width: 60%"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="serial">03</div>
                                    <div class="country">Programming</div>
                                    <div class="visit">Python, Java, C</div>
                                    <div class="percentage">
                                        <div class="progress">
                                            <div class="progress-bar color-3" role="progressbar" style="width: 70%"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="serial">04</div>
                                    <div class="country">Database</div>
                                    <div class="visit">SQL</div>
                                    <div class="percentage">
                                        <div class="progress">
                                            <div class="progress-bar color-4" role="progressbar" style="width: 70%"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="serial">05</div>
                                    <div class="country">Enterprise Resource Planning Application</div>
                                    <div class="visit">Microsoft Navision</div>
                                    <div class="percentage">
                                        <div class="progress">
                                            <div class="progress-bar color-1" role="progressbar" style="width: 75%"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="serial">06</div>
                                    <div class="country">Statistical skills</div>
                                    <div class="visit">Programming lanaguage R</div>
                                    <div class="percentage">
                                        <div class="progress">
                                            <div class="progress-bar color-2" role="progressbar" style="width: 40%"
                                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="serial">07</div>
                                    <div class="country">Accounting</div>
                                    <div class="visit"></div>
                                    <div class="percentage">
                                        <div class="progress">
                                            <div class="progress-bar color-3" role="progressbar" style="width: 40%"
                                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="serial">08</div>
                                    <div class="country">Adobe</div>
                                    <div class="visit">Adobe Indesign</div>
                                    <div class="percentage">
                                        <div class="progress">
                                            <div class="progress-bar color-4" role="progressbar" style="width: 30%"
                                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="serial">09</div>
                                    <div class="country">Microsoft Office</div>
                                    <div class="visit">Word, Powerpoint, Excel, Access</div>
                                    <div class="percentage">
                                        <div class="progress">
                                            <div class="progress-bar color-1" role="progressbar" style="width: 80%"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        
        <!-- Categories Area Start -->
        <section class="categories-area section-padding3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-70">
                            <h2>What have I done!</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span><i class="fas fa-chalkboard-teacher"></i></span>                                
                            </div>
                            <div class="cat-cap">
                                <h5><a>Programming Tutor</a></h5>
                                <p>Lucerne University of Applied Sciences and Arts, Switzerland</p>
                                <p>02/2020-07/2020</p>
                                <p class="mt-3">Provide tutoring sessions on Programming Fundamentals module</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span><i class="fas fa-hands-helping"></i></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a>Teacher Assistant</a></h5>
                                <p>Lucerne University of Applied Sciences and Arts, Switzerland</p>
                                <p>02/2020-07/2020</p>
                                <p class="mt-3">Assist professor on Business Software Development module</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="single-cat text-center mb-50" style="height: 90%">
                            <div class="cat-icon">
                                <span><i class="fas fa-code"></i></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a>Website-development Intern</a></h5>
                                <p>L.C.S llc, Vietnam</p>
                                <p>12/2019-02/2020</p>
                                <p class="mt-3">Learn how to use PHP-Yii framework</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span><i class="fas fa-graduation-cap"></i></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a>Ambassador of BSc International IT Management</a></h5>
                                <p>Lucerne University of Applied Sciences and Arts, Switzerland</p>
                                <p>09/2019-Present</p>
                                <p class="mt-3">Resolve concerns from people that are interested in the program</p>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </section>
        <!-- Categories Area End -->

        <!-- client-comments -->
        <section class="client-comments section-paddingt30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-70">
                            <h2>My Education</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- latest-blog-area start -->
            <div class="latest-blog-area">
                <div class="container">
                    <div class="row"> 
                            <!-- single-items -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="blog-wrapper">
                                    <div class="blog-inner">
                                        <div class="blog-top">
                                            <div class="comment-person">
                                                <h2>Lucerne University of Applied Sciences and Arts</h2>   
                                                <span>Switzerland</span>
                                                <p>09/2018-Present</p>
                                                <p>International IT Management BSc</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single-items -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="blog-wrapper">
                                    <div class="blog-inner">
                                        <div class="blog-top">                                       
                                            <div class="comment-person">
                                                <h2>Coventry University</h2>   
                                                <span>United Kingdom</span>
                                                <p>09/2019-12/2019</p>
                                                <p>Computing BSc (exchange semester)</p>
                                            </div>                       
                                        </div>
                                    </div>
                                </div>                    
                            </div>
                    </div>
                </div>
            </div>           
            <!-- End latest-blog-area -->
        </section>
        
        <!-- Contact Info Start -->
        <section class="contact-info-area w-padding2" data-background="img/gallery/section_bg04.jpg" id="contact">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-6 col-sm-12">
                      <div class="contact-caption mb-50">
                            <h3>Contact me? Let’s Work Together!</h3>
                            <p>You can reach me by any means provided on the right hand side or below if you are using a phone :) . Don't hesitate. Everyone is welcome!</p>
                            <img src="img/gallery/sin.png" alt="">
                      </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-sm12" style="margin-top: 20vh">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Freiestrasse 67</h3>
                                <p>Schlieren, 8952</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+41 205 12 59</h3>
                                <p>Call me anytime!</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>lhm.trinh@gmail.com</h3>
                                <p>My personal email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Info End -->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>

                    </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="js/wow.min.js"></script>
		<script src="js/animated.headline.js"></script>
        <script src="js/jquery.magnific-popup.js"></script>

		<!-- Nice-select, sticky -->
        <script src="js/jquery.nice-select.min.js"></script>
		<script src="js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="js/contact.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        
    </body>
</html>